<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #syllabus {
      width: 1140px;
      margin: 0 auto;
      height: auto;
    }
  </style>
</head>

<body>
  <section id="syllabus">
    <h2>Syllabus</h2>
    <p>Best in-class content by leading faculty and industry leaders in the form of videos, cases and projects,
      assignments and live sessions
    </p>
  </section>
</body>

</html>