<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .program-stats {
      display: flex;
      gap: 50px;
      padding: 50px;
    }

    .stats {
      display: flex;
      flex-direction: column;
    }

    .stat-1 {
      font-size: 30px;
    }

    .stats p {
      margin: 0;
      margin-top: 10px;
    }

    .font-sm {
      font-size: 14px;
    }
  </style>
</head>

<body>
  <div class="program-stats">
    <div class="stats">
      <p class="stat-1">40,000+</p>
      <p class="font-sm">learners</p>
    </div>
    <div class="stats">
      <p class="stat-1">Online</p>
      <p class="font-sm">Format</p>
    </div>
    <div class="stats">
      <p class="stat-1">7.5 Months</p>
      <p class="font-sm">12-15 hrs/week</p>
    </div>
    <div class="stats">
      <p class="stat-1">Sep 15,2021</p>
      <p class="font-sm">Start Date</p>
    </div>
    <div class="stats">
      <p class="stat-1">300+</p>
      <p class="font-sm">Hiring Partners</p>
    </div>
    <div class="stats">
      <p class="stat-1">EMI Options</p>
      <p class="font-sm">Starting at Rs. 4,200/month*</p>
    </div>
  </div>
</body>

</html>